@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styling the body */
    body{
        background: url(./assets/bg.png);
        background-size: 100% 100%;
        background-repeat:  no-repeat;
        width: 100vw;
        /* height: 120vh; */
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
    }

/* Styling the class flex */
.flex{
    display: flex;
    flex-wrap: wrap;
}

/* styling the  div that contains the contents of the whole page*/
    #full-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        height: 100%;
    }

/* Styling the heading in the index.html file */
    h2{
        font-size: 60px;
        font-weight: bold;
        color: rgb(90, 37, 192);
    }

/* Styling the container that has game-image and play button in index.html*/
    #container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        padding: 20px 50px;
        height: 88vh;
    }

/* Styling the play btn in index.html */
    #play-button{
        align-items: center;
        background-color: transparent;
        font-size: 30px;
        color: white;
        border: none;
        cursor: pointer;
    }

    #play-button>img{
        height: 40px;
        margin-right: 20px;
    }

/* Styling the score div */
    h1{
        font-size: 100px;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }

/* Styling the Main div with the boxes of both player and computer */
    #main-container{
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .team-div{
        width: 500px;
        height: 500px;
        border: 3px solid #ffc434;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 5px 0px 20px 0px;
    }
    .image-container{
        width: 460px;
        height: 300px
    }
    .image-container>img{
        width: 460px;
        align-self: flex-start;
    }
    #button-container{
        width: 90%;
        justify-content: space-between;
    }

    h3{
        font-size: 35px;
        color: white;
        text-align: center;
    }

    .game-buttons{
        cursor: pointer;
    }

/* Styling the game over div, initially hidden */
    #game-over{
        margin-top: 50px;
        text-align: center;
        display: none;
    }

    #play-again-button{
        font-size: 25px;
        font-weight: 700;
        color: white;
        text-align: center;
        background-color: #ffc434;
        padding: 10px;
        border: none;
        margin: 20px auto;
        border-radius: 10px;
        cursor: pointer;
    }

